.hamburger_wrapper{
  display: flex;
  align-items: center;
  position: fixed;
  top: 50px;
  right: 40px;
  z-index: 10;
}
@media screen and (max-width: 768px){
  .hamburger_wrapper{
    top: 30px;
    right: 20px;
  }
}


.hamburger_letter{
  font-family: tryst;
  font-size: 24px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
@media screen and (max-width: 768px){
  .hamburger_letter{
    font-size: 18px;
  }
}
@media screen and (max-width: 480px){
  .hamburger_letter{
    font-size: 16px;
    border-bottom: 1px solid black;
  }
}
.hamburger_letter_dark{
  color: #f2f2f2;
}

.drawer{
  transition: .5s;
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

.drawer_inner{
  width: 50%;
  height: 100%;
  padding: 40px 50px;
  margin-left: auto;
}
@media screen and (max-width: 480px){
  .drawer_inner{
    width: 100%;
  }
}

.overlay_close{
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #DF0234;
  transition: .3s;
}
.overlay{
  opacity: 1;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #DF0234;
  transition: .3s;
}