.langToggler{
  position: fixed;
  top: 50px;
  left: 40px;
}
@media screen and (max-width: 768px){
  .langToggler{
    top: 30px;
    left: 20px;
  }
}

.formControl{
  margin: 0;
  min-width: 120px !important;
  font-family: Times, tryst, serif !important;
}
.lang_popup{
  display: none;
}
.lang_popup:checked + .lang_ul{
  left: -50px;
  top: -50px;
}
.lang_title{
  font-size: 24px;
  margin: 0;
  position: relative;
  z-index: 101;
}
@media screen and (max-width: 768px){
  .lang_title{
    font-size: 18px;
  }
}
@media screen and (max-width: 480px){
  .lang_title{
    font-size: 16px;
  }
}
.lang_ul{
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(16px);
  border-radius: 100px;
  width: 140px;
  padding: 250px 0;
  margin: 0;
  transition: .6s;
  position: fixed;
  top: -500px;
  left: -100vw;
  position: fixed;
  width: 500px;
  height: 500px;
  z-index: 100;
}

.lang_ul li{
  padding: 15px 0;
  font-size: 18px;
}
.lang_ul li input{
  display: none;
}
.lang_ul li input:checked + label{
  border-bottom: 1px solid black;
}
.lang_ul li label{
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: .3s;
}
.lang_ul li label:hover{
  font-size: 150%;
}

.langInputLabel{
  font-family: Times, tryst, serif !important;
  /* color: black !important; */
  font-size: 24px !important;
}
.langInputLabelDark{
  color: #f2f2f2 !important;
}

.langInputOptions{
  display: block;
  font-family: Times, tryst, serif !important;
  font-size: 20px !important;
  margin-top: 5px;
  padding: 5px;
  border-radius: 0px;
  border-left: 1px solid #FF0202;
  border-top: 1px solid #0097C4;
  border-right: 1px solid #FF0202;
  border-bottom: 1px solid #03AE66;
  background-color: rgba(255,255,255, 0.3);
}
.langInputOptionsDark{
  color: white;
}
.langInputOptionsDark option{
  color: white;
}

.dn{
  display: none;
}
