@use "src/styles/utils" as u;

.tags_wrapper{
  @include u.wide_container();
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.eachTag {
  @include u.h4normal(u.$shippori);
  @include u.card-hover();
  display: inline-block;
  padding: u.$six u.$twelve;
  margin: 0 u.$twelve;
  border-radius: u.$six;
  cursor: pointer;
}
