@use "src/styles/utils" as u;

.category_wrapper {
  @include u.wide_container();
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: u.$thirty_six;
  margin: 0 auto u.$thirty_six*2;
}

.category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: u.$six;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

    .image {
      transform: scale(1.1);
    }
  }

  .image_wrapper {
    display: block;
    width: 25%;
    height: 100%;
    overflow: hidden;
    .image{
    transition: .2s;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title_wrapper{
    width: 75%;
    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      @include u.h4normal(u.$shippori);
    }
  }
}

