@use "src/styles/utils" as u;

.footer {
  @include u.wide_container();
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
}

.footer .instagram_icon img{
  display: block;
  width: 2rem;
}

.dark{
  background-color: #3d3d3d;
  color: #f2f2f2;
}
