@use "src/styles/utils" as u;

.root {
  width: 100%;
  z-index: 10;
  cursor: pointer;
  @include u.card-hover();
  border-radius: u.$six;
  overflow: hidden;

  &:nth-of-type(1) {
    z-index: 0;
  }

  &:nth-of-type(3) {
    z-index: 0;
  }

  &:nth-of-type(6) {
    z-index: 0;
  }

  &:nth-of-type(8) {
    z-index: 0;
  }

  &:nth-of-type(9) {
    z-index: 0;
  }

  &:nth-of-type(11) {
    z-index: 0;
  }

  &:nth-of-type(14) {
    z-index: 0;
  }

  &:nth-of-type(16) {
    z-index: 0;
  }

  @include u.max-mq("xs") {
    @include u.flex-center();
    max-height: u.$twelve*8;
  }
}

.media {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 56.25%;

    @include u.max-mq("xs") {
      display: none;
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    @include u.max-mq("xs") {
      position: unset;
    }
  }

  @include u.max-mq("xs") {
    width: 35%;
    height: 100%;
    overflow: hidden;
  }
}

.content {
  padding: u.$twelve;
  min-height: 80px;

  @include u.max-mq("sm") {
    padding: u.$six;
  }

  @include u.max-mq("xs") {
    width: 65%;
    height: 100%;
    padding: u.$six u.$twelve;
  }
}

.contentDark {
  background-color: #f2f2f2;
}

.postThumbnail_title {
  @include u.h4normal(u.$shippori);
  min-height: 50px;
}

.tagArea {
  min-height: 40px;
  width: 100%;

  .eachTag {
    @include u.h5normal(u.$shippori);
    padding: 2px 4px;
    margin: 0 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    transition: .2s;

    &:hover {
      transform: scale(1.5);
    }
  }
}
