@use "src/styles/utils" as u;
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;600&display=swap');

@font-face {
  src: url("../../public/fonts/tryst.otf");
  font-family: tryst;
}

@font-face {
  src: url("../../public/fonts/times.ttf");
  font-family: Times;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  word-spacing: .1rem;
  letter-spacing: .05rem;
  color: #333333;
}

h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
}

ul {
  margin: 0;
}

li {
  @include u.h3normal();
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  color: black;
}


/*********** Loader ***********/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*********** Utilities ***********/
.on480 {
  display: none;
}

@media screen and (max-width: 480px) {
  .on480 {
    display: block;
  }
}

.off480 {
  display: block;
}

@media screen and (max-width: 480px) {
  .off480 {
    display: none;
  }
}

.off480inline {
  display: inline;
}

@media screen and (max-width: 480px) {
  .off480inline {
    display: none;
  }
}

.on768 {
  display: none;
}

@media screen and (max-width: 768px) {
  .on768 {
    display: block;
  }
}

.off768 {
  display: block;
}

@media screen and (max-width: 768px) {
  .off768 {
    display: none;
  }
}
