@use "src/styles/utils" as u;


.wrapper {
  margin-bottom: u.$twelve;
  .cat, .tags {
    text-align: center;
    margin-bottom: u.$six;
    @include u.h4normal(u.$shippori);

    @include u.max-mq("sm") {
      text-align: left;
    }
  }

  .cat .each_cat, .tags .each_tag {
    cursor: pointer;
    padding: 0 u.$eight;
    text-decoration: underline;

    @include u.max-mq("sm") {
      padding: 0 u.$three;
    }
  }
}
