.btn{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 277px;
  position: relative;
}
.btn::before{
  content: "GO";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: tryst, serif;
  color: white;
  position: absolute;
  top: -80px;
  right: 10%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FF0202;
  opacity: 0;
  transition: .6s;
  z-index: 2;
}
.btn:hover::before{
  transform: translateY(40px);
  opacity: 1;
}
.btn svg{
  position: absolute;
  width: 100%;
  transition: .3s;
}
.btn:hover svg rect{
  color: black;
}
.btn span{
  font-family: tryst, serif;
  position: absolute;
}
