@use "src/styles/utils" as u;

.prev_and_next {
  @include u.grid-base();
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto u.$thirty_six*2;

  @include u.max-mq("md") {
    grid-template-columns: 1fr 1fr;
  }

  @include u.max-mq("xs") {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .prev {
    grid-column: 2 / 3;
    @include u.max-mq("md"){
      grid-column: unset;
    }
  }

  .next {
    grid-column: 3 / 4;
    @include u.max-mq("md"){
      grid-column: unset;
    }
  }

  .flag {
    margin: 0 0 u.$six;
    @include u.h4normal(u.$shippori);
    text-align: center;
  }
}
