@use "src/styles/utils" as u;

.content_index_aside {
  width: 100%;
  max-height: 55vh;
  @include u.h3normal(u.$shippori);
  transition: .5s;
  color: rgb(160, 161, 163);
  border-radius: u.$six;
  overflow: scroll;

  .ul {
    padding: u.$three 0;
    width: 100%;
    list-style: none;
    .li {
      padding: u.$three 0;

      &.index_h3 {
        margin-left: u.$eight;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content_index_aside {
    display: none;
  }
}


.content_index_span {
  display: inline-block;
  @include u.h2normal(u.$shippori);
  color: black;
  margin-bottom: 10px;
}

.content_index_aside_dark {
  border-radius: 50px;
  background: linear-gradient(145deg, #373737, #414141);


  .ul {
    padding: 5px;
    width: 100%;
    list-style: none;
  }

  .ul .li {
    padding: 5px;
  }

  .ul .li a {
    color: white;
  }

  .content_index_span {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .content_index_aside_dark {
    display: none;
  }
}

