@font-face {
  src: url(../public/fonts/tryst.otf);
  font-family: tryst;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
pre{
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  background: #25292f;
  color: #fff;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
code{
  font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
}
#post-content{
  font-family: tryst, serif;
}
.post-container{
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px){
  .post-container{
    width: 60%;
    margin: 0 auto 0 12%;
  }
}
@media screen and (max-width: 768px){
  .post-container{
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px){
  .post-container{
    width: 92%;
  }
}
#post-content img{
  display: block;
  width: 92%;
  max-width: 600px;
  margin: 0 auto;
}
.post-title{
  font-family: tryst, serif;
  text-align: center;
}
@media screen and (max-width: 768px){
  .post-title{
    font-size: 28px;
  }
}
.post-eyecatch{
  width: 100%;
  margin: 0 auto 30px;
}
.post-eyecatch img{
  width: 100%;
  max-height: 400px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
  object-fit: cover;
}

#content h2{
  padding-top: 130px;
  margin-top: -130px;
}
#content h3{
  padding-top: 130px;
  margin-top: -130px;
}
#content p{
  width: 100%;
  word-wrap: break-word;
}

#header-logo{
  display: block;
  width: 50%;
  min-width: 210px;
  margin: 0 auto;
  transition: .3s;
}
#header-logo img{
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active{
  color: black;
}

/*********** Module Spacer ***********/
.module-spacer--extra-small {
  height: 12px
}
.module-spacer--small {
  height: 20px
}
.module-spacer--medium {
  height: 32px
}
@media screen and (min-width: 576px) {
  /*********** Module Spacer ***********/
  .module-spacer--extra-extra-small {
      height: 16px
  }
  .module-spacer--extra-small {
      height: 20px
  }
  .module-spacer--small {
      height: 32px
  }

  /*********** Section ***********/
  .c-section-wrapin {
      max-width: 1024px;
  }
}

@media screen and (min-width:1024px) {
  /*********** Module Spacer ***********/
  .module-spacer--medium {
    height: 48px
  }
}



/*********** Loader ***********/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/*********** Pagination ***********/
ul.pagination{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.pagination li{
  width: 30px;
  height: 30px;
  font-family: tryst, serif;
  border: 1px solid #ccc;
  border-right: none;
}
ul.pagination li a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
ul.pagination li:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
ul.pagination li:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #ccc;
}
ul.pagination li a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
ul.pagination li:nth-of-type(2n).active a{
  background: linear-gradient(to bottom right, #03ae65 0% 30%, #ff0202 30% 70%, #0398c3 70% 100%);
}
ul.pagination li:nth-of-type(2n + 1).active a{
  background-color: red;
}
ul.pagination li.disabled a, ul.pagination li.active a{
  cursor: default;
}



/*********** Utilities ***********/
.on480{
  display: none;
}
@media screen and (max-width: 480px){
  .on480{
    display: block;
  }
}
.off480{
  display: block;
}
@media screen and (max-width: 480px){
  .off480{
    display: none;
  }
}
.on768{
  display: none;
}
@media screen and (max-width: 768px){
  .on768{
    display: block;
  }
}
.off768{
  display: block;
}
@media screen and (max-width: 768px){
  .off768{
    display: none;
  }
}