@use "src/styles/utils" as u;
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: u.$eight 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 10px 6px -6px #ccc;
  -moz-box-shadow: 0 10px 6px -6px #ccc;
  box-shadow: 0 10px 6px -6px #ccc;
  z-index: 10;

  .headerContainer {
    @include u.wide_container();

    .header1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .site_title {
        display: block;
        width: 280px;
        cursor: pointer;

        img {
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
      .langList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        margin: 0 0 0 auto;
        @include u.h3normal();

        .li {
          margin: 0 0 0 u.$twelve;
          cursor: pointer;
        }
      }

      .headerIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        .li {
          width: u.$thirty;
          margin: 0 0 0 u.$thirty_six;

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .nav {
      width: 100%;
      padding: u.$twelve 0 0;
      @include u.flex-between();
      @include u.h3normal();

      .news {
        width: 100%;
        display: flex;
        list-style: none;
        overflow-x: hidden;
        white-space: nowrap;

        .li {
          width: inherit;
          @include u.h3normal();
          margin: 0 u.$twelve 0 0;
          white-space: nowrap;
          animation: loop-slide 10s infinite linear 1s both;
        }
      }
    }
  }
}


.site_title_smaller {
  width: 30%;
  display: block;
  margin: 0 auto 0 30px;
}

.dark {
  background-color: #3d3d3d;
}
