.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 1);
  /* background-color: rgba(255, 255, 255, 0.7); */
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  z-index: 10;
}
.site_title{
  width: 100%;
  display: block;
  margin: 0 auto;
}
.site_title_smaller{
  width: 30%;
  display: block;
  margin: 0 auto 0 30px;
}

.dark{
  background-color: #3d3d3d;
}
